label {
    margin: 1rem;
}

.product-list {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.product-list > input {
    width: 39.7rem;
    font-size: 2rem;
}

.product-listing {
    display: flex;
    justify-content: space-between;
    width: 40rem;   
    background: #eee;
    margin-bottom: 0.3rem;
    cursor: pointer;
}

.product-listing h4 {
    margin-left: 1rem;
}

.product-listing:hover {
    background: rgb(214, 211, 211);
}

.product-listing button {
    border: none;
    background: rgba(230, 49, 49, 0.582);
}

.product-listing button:hover {
    background: rgb(230, 49, 49);
}

.material-icons--admin {
    font-size: 4rem;
    margin: 0 2.5rem;
}

.image-preview {
    height: 100px;
    width: 100px;
}

.dashboard-stats {
    display: flex;
    justify-content: space-around;
    border: 2px solid #eee;
    margin-bottom: 8rem;
    align-items: center;
    font-size: 3rem;
}

.dashboard-stat__holder {
    text-align: center;
}
.dashboard-stat__holder > div {
    margin: 1rem;
}

.dashboard-stat__holder > div + div {
    color: rgba(158, 147, 147, 0.801);
}

.dash-product-card {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    margin-bottom: 1rem;
    border: 2px solid #eee;
    align-items: center;
    padding-right: 1rem;
}

.dash-product-card--header {
    margin-bottom: 1rem;
    border: none;
}

.dash-product-card--header > input {
    border: 2px solid #eee;
    border-radius: 10px;
    padding: 4px;
}

.dash-sort-button {
    cursor: pointer;
}

.dash-sort-button:hover {
    border-bottom: 2px solid #c6af40;
}

.dash-sort-button--active {
    border-bottom: 2px solid #c6af40;
}

.dash-product-card > div {
    justify-self: center;
}

.dash-product-card > i {
    justify-self: end;
    cursor: pointer;
}