.page {
    padding-top: 100px;
    padding-left: 5rem;
    padding-right: 5rem;
}

.page--dashboard-page {
    padding-top: 70px;
}

.page--product-info-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    padding-top: 100px;
}

.page--shopping-cart-page {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 4fr;
    grid-column-gap: 5rem;
}

/* MISSION PAGE */
.page--mission-page {
    /* color: #c6af40; */
    color: #202237b6;
    max-width: 70rem;
    margin: 0 auto;
}

.goals-header {
    /* font-family: Georgia sans-serif; */
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    animation: load 1s ease-in-out 1;
}

.goals-header > span {
    font-family: Georgia;
    color: #c6af40;
    font-size: 60px;
}

.page--mission-page p {
    margin: 0;
    margin: 2rem 0;
    max-width: 70rem;
    font-size: 3rem;
    margin-bottom: 4rem;
    animation: load 1s ease-in-out 1;        
}

.page--mission-page p:first-child:first-letter {
    /* color: #202237b6; */
    color: #c6af40;
    float: left;
    font-family: Georgia;
    font-size: 85px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
  }

.goals-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin-bottom: 2rem;
}

.goal {
    animation: load 1s ease-in-out 1;    
    font-size: 2rem;
    max-width: 25rem;
}

.mission-subtitle {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.page--contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-form {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    width: 60rem;
}

.contact-form__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.contact-form input {
    border: none;
    box-shadow: 0 1px 5px rgba(17, 17, 17, 0.24);
    border-radius: 5px;
    padding: 5px;
    width: 25rem;
}

.contact-form__message {
    margin-bottom: 2rem;
    border: none;
    box-shadow: 0 1px 5px rgba(17, 17, 17, 0.24);
    border-radius: 5px;
    padding: 5px;
}

.contact-form__button {
    font-size: 2.5rem;
    border: none;
    background: #c6b040b2;
    color: white;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(17, 17, 17, 0.24);
}

@media (max-width: 745px) {
    .page--mission-page p {
        font-size: 2rem;
    }
    .goals-container {
        grid-template-columns: 1fr;
    }
    .mission-subtitle {
        font-size: 2rem;
    }
}

@media (max-width: 611px) {
    .desktop-only {
        display: none;
    }
    .page {
        padding-right: 2rem;
        padding-left: 2rem;
    }
    .contact-form {
        width: 30rem;
    }
    .contact-form__info {
        flex-direction: column;
        justify-content: space-between;
        height: 8rem;
    }
    .contact-form input {
        width: 29rem;
    }
}

@media (max-width: 945px) {
    .page--product-info-page {
        /* grid-template-columns: 1fr; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 611px) {
    .mobile-only {
        display: none;
    }
}