.page {
    padding-top: 69.7px;
    padding-left: 5rem;
    padding-right: 5rem;
}

.page--product-info-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    padding-top: 100px;
}

.page--shopping-cart-page {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-auto-rows: minmax(85vh, 85vh);
    grid-column-gap: 5rem;
}
