.page {
    padding-top: 69.7px;
    padding-left: 5rem;
    padding-right: 5rem;
}

.page--product-info-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    padding-top: 100px;
}

/* .product-images {
    display: flex;
    justify-content: center;
} */