.product-display {
    padding: 4rem 0;
    margin-left: 296px;
}

.product-holder {
    display: grid;
    width: 100%;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns:  repeat(auto-fill, minmax(225px, 1fr));
    grid-gap: 5rem;
}

/* // 3-per-row-version
.product-holder {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 20rem;
	row-gap: 8rem;
} */

.card-holder {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 225px;
}

.product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 228px;
    height: 303px;
    animation: load 1s ease-in-out 1;
    transition: transform 300ms ease-in-out;
}

/* .product-card:hover {
    transform: scale(1.05);
}

.product-card:active {
    transform: scale(1);
} */

@keyframes load {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }   
}

.product-card:hover .overlay {
    opacity: 100;
}

.product-card > img {
    position: relative;
    height: 300px;
    width: 225px;
    box-shadow: 0 20px 50px rgba(48, 48, 46, 0.726);
    border-radius: 10px;
}

.product-card:after {
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.103));      
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    border-radius: 10px;
}

.overlay {
    z-index: 1;
    opacity: 0;
    color: white;
    position: absolute;
    bottom: 2rem;
    transition: opacity 300ms ease-in-out;
    width: 100%;
}

.overlay > div {
    padding: 0 2rem;
    margin-bottom: 0.5rem;
}

.overlay--stock {
    top: 1rem;
    left: 2rem;
    font-size: 11px;
    font-weight: 600;
    background: #f54257;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 7rem;
    border-radius: 5px;
}

@media (max-width: 611px) {
    .product-display {
        margin-left: 0;
        padding-top: 13rem;
    }
    .product-card {
        justify-self: center;
    }
    .card-holder {
        justify-self: center;
    }
}

.image-big {
    height: 700px;
    max-width: 525px;
    /* box-shadow: 0 1px 2px rgba(0,0,0,.5); */
    border-radius: 10px;
    animation: load 1s ease-in-out 1;    
}

.image-slider {
    max-width: 525px;
}

.image-slider .slick-prev {
    left: -30px;
}

.image-slider .slick-next {
    right: -30px;
}

/* with box shadows */
/* .product-images {
	box-shadow: 0px 1px 5px rgba(78,76,80,.185);;
	padding: 2rem;
	width: 53rem;
} */