/* .cart-checkout {
    padding: 2rem;
    background: #40424a;
    border-radius: 10px;
    box-shadow: 0px 1px 15px rgba(67,38,100,0.15);
    align-self: start;
    height: 80vh;
    width: 25vw;
    position: fixed;
    top: 100px;
    right: 50px;
} */

.cart-checkout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    border-bottom: 1.5px solid #eee;
    padding-bottom: 2rem;
}

.total-price {
    font-size: 3rem;
    color: #aaaeb1;
    margin-right: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.price-tag {
    font-size: 3rem;
    color: #40424a;
    margin: 0 0.5rem;
}

.shipping-cost {
    font-size: 2rem;
    align-self: center;
}

.cart-checkout__button {
    width: 30rem;
}

.cart-checkout__button:disabled {
    background:  rgba(0, 0, 0, 0.363);    
}

.cart-display {
    max-width: 120rem;
    justify-self: center;
    width: 100%;
    position: relative;
}

.cart-card-holder {
    /* margin-top: 7rem; */
}

.cart-card {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    padding: 2rem 0;
    border-bottom: 1.5px solid #eee;
    animation: load 1s ease-in-out 1;    
}

.cart-image {
    height: 200px;
    width: 150px;
    border-radius: 10px;
}

.cart-name {
    /* align-self: center; */
    font-weight: 600;
    color: #40424a;
}

.cart-name--size-letter {
    color: #aaaeb1;
    margin-top: 1rem;
}

.quantity {
    align-self: center;
    display: flex;
    align-items: center;
}

.quantity__button {
    font-weight: 600;
    color: #40424a;
    cursor: pointer;
    user-select: none;
    font-size: 2rem;
}

.quantity > input {
    outline: none;
    margin: 0 1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 10px;
    border: 1.5px solid #eee;
    text-align: center;
}

.quantity > input::-webkit-inner-spin-button, 
.quantity > input::-webkit-outer-spin-button { 
    appearance: none;
    margin: 0; 
}

.quantity > input {
    appearance: textfield;
}

.cart-price {
    align-self: center;
    justify-self: center;
    font-weight: 600;
    color: #40424a;
}

.cart-remove {
    align-self: center;
    justify-self: end;
    cursor: pointer;
    font-weight: 600;
    color: #40424a;
}