.shop-bar {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 5rem;
    top: 7rem;
}

.shop-bar__title {
    font-weight: 700;
    color:  #202237;
    margin: 0;
    margin-bottom: 4rem;
}

.category-label {
    text-decoration: none;
    margin: 0;
    font-weight: 300;
    color: #202237cb;
    margin-bottom: 3rem;
}

.category-label:hover {
    color: black;
}

.category-label--active {
    color: #c6af40;
}

.category-label--active:hover {
    color: #c6af40;
    z-index: 3;
}

.search-bar {
    outline: none;
    margin-bottom: 4rem;
    color: #aaaeb1;
    border: none;
    border-bottom: 1px solid #aaaeb1;
}

.price-dir {
    cursor: pointer;
    height: 20px;
    color: #202237cb;    
    margin: 0 0.5rem;
    transition: color 200ms ease-out;
}

.price-dir:hover {
    color: black;
}

.price-dir--active {
    color: #c6af40;
}

.price-dir--active:hover {
    color: #c6af40;
}


@media (max-width: 611px) {
    .shop-bar {
        display: none;
    }
}